<div class="container">
	<nav>
	  <div>
		<div id="barra">
		<ul>
		  <li><a href="/ask">Ask a question</a></li>
		  <li><a href="/index">Home</a></li>
		  <li><a href="/logout">Log out</a></li>
		</ul>
		<br clear="all">
		</div>
	  </div>	
	</nav>

	  <% unless Question.all == [] %>
	    <% @all_questions.each do |question| %>
			<div id="question_content">
				<b>Question made by: <%user = User.find(question.users_id)%>
					<%if user == nil%>
						<span>Couldn't find user</span>
					<%else%>
						<%=user.name%></b>
			    <%end%>
			    <%= question.title %><br>
			    <%= question.description %><br>
			    <a href="/upvote">Upvote</a><br>
			    <%= question.votes %><br>
			    <b>Answers:</b><br>
			    <b>Answer made by: <%user = User.find(answer.users_id)%>  <%if user == nil%>
							<span>Couldn't find user</span>
						<%else%>
							<%=user.name%>
			    	<%end%></b>
			    <%answer = Answers.find(question.id)%>
			    <%=answer.description%><br>
			</div>
	    <%end%>
	   <% else %> 
	    <p>For the moment there are no questions to show. Come back again later, pal.</p>
	  <%end%>
</div>