<div class="container">
	<nav>
	  <div>
		<div id="barra">
		<ul>
		  <li><a href="/ask">Ask a question</a></li>
		  <li><a href="/index">Home</a></li>
		  <li><a href="/logout">Log out</a></li>
		</ul>
		<br clear="all">
		</div>
	  </div>	
	</nav>

	  <% unless @all_questions == [] %>
	    <% @all_questions.each do |question| %>
			<div id="question_content">
				<b>Question made by: <%user = User.find(question.users_id)%>
					<%if user == nil%>
						<span>Couldn't find user</span><br>
					<%else%>
						<%=user.name%></b><br>
			    <%end%>
			    <%= question.title %><br><br>
			    <%= question.description%><br><br>
			    <b>Votes: </b>
			    <%=question.votes%><br><a href="/upvote">Upvote</a><br>
			    <br><b>Answers:</b><br>
			    <%answer = Answer.find_by(questions_id: quesion.%>
			    <%if answer.nil?%>
			    <p>No answers to show yet</p>
			    <%else%>
			    <% answer.each do |ans| %>
			    <%= ans.description %>
			    <%end%>
			    <form action="/answer" method="post">
				    <br><b>Answer this question:</b><br>
				    <textarea rows="5" cols="20" name="answer_description" placeholder="Answer here."></textarea><br>
				    <input type="hidden" name="question_id" value="question.id">
				    <input type="submit" value="Answer">
			    </form>
			</div>
	    <%end%>
	   <% else %> 
	    <p>For the moment there are no questions to show. Come back again later, pal.</p>
	  <%end%>
</div>